.form {
  font-family: "Ubuntu";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  background: #ffffff;

  .btn {
    width: 335px;
  }
}
.form__label {
  display: flex;
  position: relative;
  flex-direction: column;
  color: rgba(35, 35, 35, 0.7);
  gap: 16px;

  &:hover .form__textinput {
    border: 1px solid $blue;
  }
}

.form__input-wrapper {
  position: relative;
}

.form__input-state {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 24px;
  height: 24px;
  transform: translate(0%, -50%);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.form__textinput {
  width: 536px;
  padding: 21px 24px;
  border: 1px solid #eaeaea;
  outline: none;
  transition: all 0.2s ease-in;
  font-family: inherit;
  font-size: inherit;
  &::placeholder {
    color: rgba(35, 35, 35, 0.4);
  }
  //   color: inherit;

  &:focus {
    border: 1px solid $blue;
    color: black;
  }

  &:not(:focus):invalid {
    border: 1px solid $red;
    color: $red;
    & + .form__input-state {
      background-color: $red;
      background-image: url("../assets/elements/cross.svg");
    }
  }
  &:not(:focus):not(:placeholder-shown):valid {
    border: 1px solid $green;
    color: black;
    & + .form__input-state {
      background-color: $green;
      background-image: url("../assets/elements/correct.svg");
    }
  }
}

.form__btn {
  width: fit-content;
  justify-content: center;
  display: flex;
  padding: 21px 64px;
  border: 1px solid #eaeaea;
  background: #ffffff;
  color: rgba(35, 35, 35, 0.7);
  font-family: "Ubuntu";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    border: 1px solid $blue;
    color: #232323;
  }
  &--active {
    border: 1px solid $blue;
    background: $blue;
    color: #ffffff;
    &:hover {
      border: 1px solid $blue;
      color: white;
    }
  }
}

.form__textarea {
  padding: 21px 24px;
  border: 1px solid #eaeaea;
  outline: none;
  color: rgba(35, 35, 35, 0.4);
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  resize: none;
}

.form__row {
  margin-top: 64px;
}

.form__agreement-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.form__inputs-cotainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px 32px;
}

.form__inputs-cotainer--wrap {
  flex-wrap: wrap;
}

// -------------------- FORM SELECT -------------------- //

.form__selectinput {
  position: relative;
  width: 536px;
  padding: 21px 24px;
  border: 1px solid #eaeaea;
  outline: none;
  color: rgba(35, 35, 35, 0.4);
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    border: 1px solid $blue;
  }
  &:focus {
    border: 1px solid $blue;
    //   color: black;
    & .form__select-state {
      border: 1px solid $blue;
      & svg {
        transform: rotate(180deg);
        path {
          //   fill: ;
          stroke: $blue;
        }
      }
    }
    & + .form__options-list {
      display: block;
    }
  }

  &:not(:focus):invalid {
    border: 1px solid $red;
    color: $red;
    // & + .form__input-state {
    //   background-color: $red;
    //   background-image: url("../assets/elements/cross.svg");
    // }
  }
  &:not(:focus):not(:placeholder-shown):valid {
    border: 1px solid $green;
    color: black;
    // & + .form__input-state {
    //   background-color: $green;
    //   background-image: url("../assets/elements/correct.svg");
    // }
  }
}

.form__selectinput--correct {
  color: black;
  .form__select-state {
    background-color: $green;
    background-image: url("../assets/elements/correct.svg");
    border: none !important;
    & svg {
      display: none;
    }
  }
}

.form__select-state {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 24px;
  height: 24px;
  transform: translate(0%, -50%);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #eaeaea;
  //   background: red;
  //   background-image: url("../assets/elements/select.svg");
}

.form__options-list {
  //   transform: translate(0%, 40px);
  display: none;
  width: 536px;

  position: absolute;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #232323;
  list-style-type: none;
  background-color: white;
  box-shadow: 0px 0px 24px rgba(35, 35, 35, 0.05);
}

.form__option {
  padding: 13px 24px;
  &:hover {
    background: #eaeaea;
  }
}

// -------------------- FORM SELECT END -------------------- //

@media only screen and (max-width: 1200px) {
  .form {
    .btn {
      width: auto;
    }
  }

  .form__label {
    font-size: 14px;
  }
  .form__textinput,
  .form__selectinput {
    // width: 335px;
    width: 100%;
    height: 64px;
    font-size: 14px;
    padding: 21px 24px;
  }
  .form__btn {
    padding: 21px 24px;
  }
  .form__inputs-cotainer {
    flex-direction: column;
  }
}
