* {
  box-sizing: border-box;
}
.body {
  padding-bottom: 30px;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  font-size: 18px;
  font-family: "Ubuntu";
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(35, 35, 35, 0.7);
  min-width: 370px;
  // background: #f5f5f5;
}
.container {
}

.bg-top {
  height: 480px;
  width: 100%;
  background-size: cover;
  background-image: url("../assets/bg-top.png");
}

.title {
  color: #232323;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
}

.gallery-img {
  position: relative;
  width: 313px;
  height: 336px;
}

.isActive {
  display: block !important;
}
.isFlex {
  display: block !important;
}
.isOverFlowHidden {
  overflow: hidden !important;
}

@media only screen and (max-width: 1399px) {
  .btn {
    width: 100% !important;
    height: 64px;
    font-weight: 400;
    font-size: 16px;
  }
  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  .gallery-img {
    width: 266px !important;
    height: 284px !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .btn {
    width: 335px !important;
  }
}
