.tours {
  padding-left: $padding;
  width: 100%;
}

.tours__title {
  margin: 64px 0;
}

.tours-gallery {
  overflow: hidden;
  display: flex;
  gap: 63px;
}

.tours-item {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 373px;
  height: 566px;
  color: #232323;

  .gallery-img {
    transition: all 0.2s ease-in;
    object-fit: cover;
  }

  &:hover {
    .gallery-img {
      height: 366px;
      width: 373px;
    }
    .tours-item__img-wrapper {
      margin: 0;
    }
    .tours-item__header {
      text-decoration: underline;
    }

    .likeBtn {
      top: 16px;
      right: 16px;
      display: block;
    }
  }
}
.tours-item__header {
  margin-top: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.tours-item__description {
  margin-top: 16px;
}

.tours-item__img-wrapper {
  position: relative;
  margin: 30px 30px 0px 30px;
  transition: all 0.2s ease-in;
}

.tours-item__body {
  margin: 0 30px 40px 30px;
}

@media only screen and (max-width: 1399px) {
  .tours-gallery {
    gap: 24px;
  }
  .tours-item__img-wrapper,
  .tours-item__body {
    margin: 0;
  }
  .tours {
    padding-left: 20px;
  }
  .tours__title {
    margin-top: 64px;
    margin-bottom: 20px;
  }

  #scroll-gallery-other {
    display: flex;
    margin-top: 0;
  }
}
